
@media (max-width: 1024px) {
    .nav-item {
        padding: 0 5px;
        font-weight: bold;
    }
    .degrees-contain {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    #program .degrees-contain,
    .campus-contain {
        padding: 0 35px;
    }
    #program .site-bg {
        padding: 0
    }

    .scholarship-contain {
        padding: 0 35px;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }

    .transfer-contain {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }

    .study-box,
    .choose-contain {
        padding: 0 15PX;
        justify-content: center;
        font-size: 14px;
    }

    .study-horizon-box {
        height: 456px;
    }

    .choose-left-content {
        width: 50%;
    }

    .choose-right-content {
        height: 302px;
        overflow: hidden;
    }

    .choose-right-content img {
        width: 100%;
        object-fit: cover;
    }

    .choose-left-content:last-child {
        width: 100%;
    }

    .number4 {
        bottom: 0
    }

    .admission-content:first-child {
        padding: 0 40px 0 50px
    }
}


@media (min-width: 990px) {
    .hide-mobile {
        display: none;
        position: absolute;
        opacity: 0
    }
}
@media (max-width: 990px) {
    .site-header {
    }
    .site-header .site-w {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .navigation {
        width: 260px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(11, 11, 11, 0.2);
        z-index: 9999999;
        transition: all 250ms ease;
        transform: translateX(-150%);
    }

    .openMenuAction {
        position: fixed;
        width: 50px;
        height: 50px;
        display: block;
        top: 0;
        right: 0;
        background: red;
        z-index: 100;
        opacity: 0;
    }

    .background-emty {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(11, 11, 11, 0.3);
        box-shadow: 0 2px 5px rgba(11, 11, 11, 0.1);
        z-index: 90;
        transition: all 250ms ease;
        transform: translateX(-150%);
    }

    .close-menu {
        position: fixed;
        top: 15px;
        left: 280px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        user-select: none;
    }

    .close-menu path {
        fill: #fff;
    }

    .nav-icon {
        height: 24px;
        cursor: pointer;
    }

    .nav-icon path {
        fill: #777
    }

    .navigation #site-nav {
        padding: 25px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        padding: 7px 15px;
        color: var(--warning)
    }

    .nav-link:hover::after {
        display: none;
    }

    #open-menu {
        overflow: hidden;
        position: absolute;
        top: 15px;
        right: 25px;
        z-index: 999999;
        user-select: none;
    }

    .open-menu .navigation,
    .open-menu .background-emty {
        transform: translateX(0);
    }

    .open-menu .nav-icon {
        opacity: 0;
        visibility: hidden;
    }
    .degrees-contain {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-column-gap: 15px;
    }

    #program .degrees-contain,
    .campus-contain {
        padding: 0 35px;
        grid-column-gap: 20px;
    }

    .campus-contain {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    #program .site-bg {
        padding: 0
    }

    .scholarship-contain {
        padding: 0 35px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-column-gap: 20px;
    }

    .scholarship-contain,
    .transfer-contain {
        display: block;
    }

    .scholarship-content {
        margin-bottom: 25px;
    }

    .scholarship-box {
        padding: 15px 20px;
        margin: 0
    }

    #slides {
        height: 50vh;
    }

    .vertical-f,
    .vertical-l {
        height: 221px;
    }

    .vertical-f img,
    .vertical-l img {
        height: 100%;
        object-fit: cover;
    }

    .vertical-f .box-absolute {
        width: 100%;
        height: 100%;
        background-color: rgba(254, 155, 0, 0.7);
        padding: 15px;
    }

    .vertical-l .box-absolute {
        padding: 15px;
        width: 100%;
        height: 100%;
        background-color: rgba(254, 155, 0, 0.7)
    }

    .box-title {
        font-size: 27px;
    }

    .contact-form {
        justify-content: center;
    }

    .control {
        width: 45%;
        margin: 10px 2.5%;
    }

    .footet-title {
        text-align: center;
    }

    .footer-content {
        font-size: 90%;
        margin-left: 15px;
    }

    .footer-logo img {
        width: 90%;
        height: 90%;
    }

    .site-logo a {
        height: 45px;
        margin-left: 15px
    }

    .open-menu {
        overflow: hidden;
    }

}


@media (max-width: 760px) {

    #slides {
        height: 75vh
    }
    .banner-desc {
        width: 76%;
        left: 14%;
    }

    .banner-title {
        font-size: 39px;
        text-align: left;
        line-height: 41px;
    }

    .study-box, .choose-contain {
        flex-wrap: wrap;
    }

    .study-vertical-box {
        width: 100%;
        padding: 0 7.5px;
        margin-top: 15px;
    }

    .component-content .contain {
        flex-wrap: wrap;
        padding: 0
    }

    .about-bg .contain-content {
        width: 50%;
        margin-bottom: 25px;
    }

    .about-bg {
        font-size: 13px;
        padding: 0 15px;
    }

    .scholarship-contain,
    #program .degrees-contain,
    .campus-contain {
        padding: 0 15px;
    }

    .component-content .contain img {
        max-width: 50px;
    }

    .about-bg .box-title {
        font-size: 17px;
        margin-bottom: 15px;
        padding-top: 15px;
    }

    .about-contain {
        flex-wrap: wrap;
    }

    .about-contain-box {
        width: 100%;
        margin-top: 15px;
    }
    .about-content span {
        font-size: 17px;
    }

    .about-contain-box + .about-contain-box {
        border: none;
        padding: 0
    }

    .choose-left,
    .choose-right {
        width: 100%;
        padding: 0
    }

    .choose-left-content {
        width: 100%;
    }

    .choose-left-content:nth-of-type(2) {
        display: none;
    }
    .number2, .number3 {
        width: 100%;
        position: relative;
    }

    .choose-left-content:last-child img {
        display: none;
    }

    .choose-left-content:last-child {
        height: auto;
    }
    .choose-contain .box-absolute span {
        width: 35px;
    }
    .box-content {
        width: calc(100% - 35px)
    }

    .number4 {
        height: auto;
    }

    .site-bg {
        padding: 0 15px
    }

    .row {
        font-size: 12px;
        padding: 5px 0
    }

    .row span:first-child {
        white-space: normal;
        width: 100px;
    }

    .row span + span {
        width: calc(100% - 100px);
        padding-left: 7px;
    }
    .transfer-bg {
        margin-top: 25px;
    }

    #transfer  {
        padding: 0
    }

    #transfer .component-content .box-title {
        padding-top: 25px
    }

    .step-by-step {
        flex-flow: wrap;
        width: 96%;
        margin: 0 auto;
    }

    .admission-content + .admission-content {
        border: none;
        margin-top: 25px;
        padding: 0 15px
    }

    .admission-content:first-child {
        padding: 0 15px
    }

    .control {
        width: 100%;
    }

    .footer-content p {
        flex-wrap: wrap;
        margin-bottom: 5px;
    }
    .footer-information {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-content p svg {
        display: none
    }
    .footer-content p a {
        margin-bottom: 7px;
    }

    .footer-content p:nth-of-type(1) {
        flex-wrap: nowrap;
    }
}

@media (max-width: 380px) {
    body * {
        font-size: 13px;
        text-align: justify;
    }

    .step-by-step {
        width: 100%;
        padding: 15px 25px;
    }

    .step-by-step .admission-content {
        padding: 0
    }
    .step-by-step + img {
        width: calc(100% - 30px);
        margin: 0 auto;
        display: block;
    }


    .campus-contain {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 15px;
    }

    .campus-contain .campus-item {
        height: 180px;
    }

    .campus-contain .campus-item img {
        object-fit: cover;
    }

    .banner-desc {
        justify-content: flex-end;
    }

    .banner-title {
        font-size: 25px;
        text-align: left;
        line-height: 31px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .banner-title::after {
        width: 90%
    }

    .banner-content {
        font-size: 17px;
        line-height: 21px;
        text-align: left;
    }
/*
    .backtopbox {
        display: none !important;
        opacity: 0;
        right: -999px;
        bottom: -999px;
        z-index: -88;
        visibility: hidden;
    }

    #open-menu {
        position: fixed;
        border-top: 25px;
        width: 35px;
        height: 35px;
        top: auto;
        right: 15px;
        bottom: 15px;
        border-radius: 25px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        box-shadow: 0 0 12px rgba(11, 11, 11, 0.5)
    } */

}

@media (max-width: 990px) and (orientation: landscape) {
    #slides {
        height: 100vh
    }
}
